.btn-ready{
  width: 240px;
  height: 120px;
  background-color: antiquewhite;
  font-size: 22px;
  font-family: 'Raleway', sans-serif;
  position: fixed; top: 0; left: 450px; right: 20px;
  outline: 1px solid #444; background: #fff;  

}

.hall{
    color: #ed7f61;
    display: flex;
    flex-direction: column;
}

.choice,.submit{
    height: 160px;
}

.choice,.choice-order{
    display: flex;
    flex-direction: row;
    justify-content: center; 
}

.choice-order{
  margin-top: -30px;
}

.coffee, .burger-shop{
    padding-right: 10px; 
    padding-left: 15px;
}

.btn-coffee, .btn-burger, .choice-delivered, .choice-ready{
  width:200px;
  height:100px;
  margin-left: 10px;
  margin-top: 40px;
  font-family: 'Raleway', sans-serif;
  font-size:21px;
  color: #ed7f61;
  background-color: #0e1013;
  border: solid thin #ed7f61;
}

.btn-burger:hover,.btn-coffee:hover{
  color:black;
  background-color: #ed7f61;
  border: none;
}

.menu{
    height: 550px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.title-menu{
  font-family: 'Rock Salt', cursive;
}

.items-box{
    height: 550px;
    width: 50%;
}

.item{
    height: 90%;
    width: 80%;
    margin: 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0e1013;
    border: solid thin #ed7f61;
    overflow: auto;
}

.btn-card{
  width: 220px;
  height:70px;
  min-height: 60px;
  padding: 5px;
  margin-top: 12px;
  font-family: 'Raleway', sans-serif;
  font-size:21px;
  box-shadow: 1px 3px 3px #ed7f6194;
  color: #ed7f61;
  background-color:#272829;
  border: none;
  cursor: pointer;
 
}
 
.btn-back, .btn-back-kitchen{
  width:90px;
  height:50px;
  margin-top: 40px;
  font-family: 'Raleway', sans-serif;
  font-size:21px;
  background-color: #ed7f61;
  border: none;
}

.btn-amount{
  width: 40px;
  background-color: #ed7f61;
  border: none;
  color: black;
  font-size:21px;
}

.btn-back-kitchen{
  margin-left: 20px;
}

.order-box{
    max-height: 550px;
    width: 60%;
}
.order{
    display: flex;
    flex-direction: column;
    max-height: 90%;
    width: 85%;
    margin-top: 20px;
    padding: 20px;
    background-color: #0e1013;
    overflow: auto;
}

.data-order{
  display: flex;
  justify-content: center;
}

.title-order{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: antiquewhite;
  font-family: 'Raleway', sans-serif;

}

.items-order{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Raleway', sans-serif;
  margin-left: 15px;

}

.amount-input, .price-input,.item-input {
  width: 30px;
  background-color: #0e1013;
  color: #ed7f61;
  border: none;
}

.item-input{
  width: 100px;
}

.price-input{
  width: 60px;
}

.total-order{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: antiquewhite;
  font-family: 'Raleway', sans-serif;
}

.total{
  background-color: #0e1013;
  color: #ed7f61;
  border: none;
}
.input-table,.input-name,.btn-submit{
  background-color: #ed7f61;
  border: none;
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
  margin-left: 5px;
}

.label-name{
  margin-left: 20px;
}

.input-table{
  width: 40px;
  height: 30px
}

.input-name{
  width: 140px;
  height: 30px;
}

.btn-submit{
  width: 240px;
  height: 120px;
}

.btn-back:hover,.btn-submit:hover{
  color: #ed7f61;
  background-color: #0e1013;
  border: solid thin #ed7f61;
}

.submit{
    width: auto;
    display: flex;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-order{
  font-size:22px;
  width: auto;
  display: flex;
  justify-content: space-between;
}

.container-card-kitchen{
  min-height: 600px;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  font-family: 'Raleway', sans-serif;
  font-size: 21px;
  overflow: auto;
}

.card-options-orders{
  width: 400px;
  padding: 5px;
  margin-top: 12px;
  font-family: 'Raleway', sans-serif;
  font-size:21px;
  border: solid #ed7f61;
  color: #ed7f61;
  background-color:#0e1013;
  box-shadow: 1px 3px 3px #ed7f6194;
  cursor: pointer;
}

.btn-status{
  display: flex;
  width: 100%;
  height: 50px;
  font-family: 'Raleway', sans-serif;
  font-size:21px;
  justify-content: center;
  color:black;
  background-color: #ed7f61;
  border: none;
}

.btn-status:hover{
  color:#ed7f61;
  background-color:#0e1013;
  border: solid #ed7f61;
}

.request-title{
  display: flex;
  justify-content: center;
  color:#ed7f61;
}

.swal-button{
  background-color:#ed7f61;
}

@media screen and (min-width: 800px) {
  .btn-ready{
    position: fixed; top: 0; left: 700px; right: 10px;
  }

  .hall{
    flex-direction: row;
    max-height: 480px;
    margin-top: -20px;
  }

  .choice{
    flex-direction: column;
    height: 400px;
  }

  .items-box{
    max-height: 480px;
  }

  .submit{
    margin-top: 20px;
  }
  
  .order-box{
    max-height: 500px;
  }
}

