.hall{
    color: #ed7f61;
    display: flex;
    flex-direction: column;
}


.choice, .submit{
    height: 150px;
}

.choice{
    display: flex;
    flex-direction: row;
}
.coffee, .burger-shop{
    padding-right: 10px; 
    padding-left: 15px;

}
.btn-coffee, .btn-burger{
  width:200px;
  height:100px;
  margin-left: 10px;
  margin-top: 40px;
  font-family: 'Raleway', sans-serif;
  font-size:21px;
  color: #ed7f61;
  background-color: #0e1013;
  border: solid thin #ed7f61;
}

.btn-burger:hover,.btn-coffee:hover{
  color:black;
  background-color: #ed7f61;
  border: none;

}

.menu{
    height: 550px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.title-menu{
  font-family: 'Rock Salt', cursive;
}
.items-box{
    height: 550px;
    width: 50%;
}
.item{
    height: 90%;
    width: 80%;
    margin: 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0e1013;
    border: solid thin #ed7f61;
    overflow: auto;
}

.btn-card{
  width: 220px;
  height:70px;
  min-height: 60px;
  padding: 5px;
  font-family: 'Raleway', sans-serif;
  font-size:21px;
  box-shadow: 1px 3px 3px #ed7f6194;
 
}

.btn-back{
  width:90px;
  height:50px;
  margin-top: 40px;
  font-family: 'Raleway', sans-serif;
  font-size:21px;
  background-color: #ed7f61;
  border: none;

}

.order-box{
    height: 550px;
    width: 60%;
}
.order{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    max-height: 90%;
    width: 85%;
    margin-top: 20px;
    padding: 20px;
    background-color: #0e1013;
    overflow: auto;
}

.data-order{
  display: flex;
  justify-content: center;
}

.title-order{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: antiquewhite;
  font-family: 'Raleway', sans-serif;

}

.items-order{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Raleway', sans-serif;
  margin-left: 15px;

}

.amount-input, .price-input,.item-input {
  width: 30px;
  background-color: #0e1013;
  color: #ed7f61;
  border: none;
}

.item-input{
  width: 100px;
}

.price-input{
  width: 60px;
}

.total-order{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: antiquewhite;
  font-family: 'Raleway', sans-serif;
}

.total{
  background-color: #0e1013;
  color: #ed7f61;
  border: none;
}
.input-table,.input-name,.btn-submit{
  background-color: #ed7f61;
  border: none;
  font-size: 25px;
  margin-left: 5px;
}

.label-name{
  margin-left: 20px;
}

.input-table{
  width: 40px;
  height: 30px
}

.input-name{
  width: 140px;
  height: 30px;
}

.btn-submit{
  width: 240px;
  height: 120px;
}

.submit{
    width: auto;
    display: flex;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}



/* switch */
/* 
  .switch {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
  }
  
  .switch + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
  }
  .switch--shadow + label {
    padding: 2px;
    width: 120px;
    height: 60px;
    border-radius: 60px;
    border: solid #ed7f61;
  }
  .switch--shadow + label:before,
.switch--shadow + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
.switch--shadow + label:before {
  right: 1px;
  background-color: #dfaa9c;
  background-color: #1b1d20;;
  border-radius: 60px;
  transition: all 0.4s;
}
.switch--shadow + label:after {
  width: 62px;
  background-color: #ed7f61;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.4s;
}

.switch--shadow:checked + label:before {
    background-color: #1b1d20;
  }
  .switch--shadow:checked + label:after {
    transform: translateX(60px);
  } */